<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd    
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.3.xsd    
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd                
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util-4.3.xsd">
            
            <!-- shiro过滤 -->
            <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">   
		        <!-- 权限管理器 -->   
		        <property name="securityManager" ref="securityManager" />
		        <!-- 身份认证失败，跳转到登录地址 -->
	        	<property name="loginUrl" value="" />
	        	<!-- 权限认证失败，则跳转到登陆地址 -->
	        	<property name="unauthorizedUrl" value="" />
		        <!-- 权限配置 -->  
		        <property name="filterChainDefinitions">    
		            <value>
		            </value>
		        </property>    
    		</bean>  
         	<!-- 自定义realm -->
   	    	<bean id="LoginRealm" class="com.demo.pojo.LoginRealm">
        		  <property name="cachingEnabled" value="true" />
         		  <property name="authenticationCachingEnabled" value="true" />
   	    		  <property name="authenticationCacheName" value="demo" />
   	    	</bean>
	 		<!-- 权限管理器 -->  
    	 	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">    
		       	 <!-- 自定义的realm -->  
		       	 <property name="realm" ref="LoginRealm"/>    
		       	 <!-- 缓存管理器 -->  
	       		 <property name="cacheManager" ref="shiroCacheManager"/>    
     		</bean>
     	
    	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>